* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Open Sans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  .header {
    display: block;
    position: relative;
    background-color: grey;
    background-image: url(images\banner-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
    padding-top: 29px;
    padding-bottom: 146px;
  }
  
  header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  
  .header-div {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    z-index: 1;
  }
  
  .menu-list {
    display: flex;
    list-style-type: none;
    z-index: 1;
  }
  
  .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    margin-left: 30px;
  }
  
  .header h1 {
    position: relative;
    width: 687px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.66;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  
  .one {
    font-size: 20px;
  }

  .main {
    display: block;
    width: 778px;
  }
  
  .main-art {
    display: flex;
    margin-bottom: 60px;
  }
  
  .img {
    width: 381px;
    margin-right: 30px;
  }
  
  .main-div {
    padding-top: 2px;
    padding-bottom: 10px;
  }
  
  .main-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 15px;
  }
  
  .main-list-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    margin-right: 19px;
  }
  
  .main-div-link {
    display: block;
    text-transform: uppercase;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.2;
    color: #0f0d0e;
    font-weight: bold;
    text-decoration: none;
  }
  
  .time {
    font-size: 12px;
    color: #888888;
  }
  
  span {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    padding-left: 16px;
  }
  
  p {
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.66;
    color: #0f0d0e;
  }
  
  .aside {
    display: block;
    width: 272px;
  }
  
  .aside-secn {
    display: block;
    margin-bottom: 60px;
  }
  
  .heading {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  .heading::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    background-position: bottom center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .aside-art {
    display: flex;
    margin-bottom: 22px;
    padding-bottom: 10px;
  }
  
  .art-img {
    width: 70px;
    margin-right: 18px;
    padding-top: 3px;
  }
  
  .art-div {
    width: 183px;
  }
  
  .art-time {
    display: block;
    font-size: 12px;
    color: #888888;
    font-weight: 400;
  }
  
  .art-div-link {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .search {
    width: 272px;
    margin-top: 38px;
  }
  
  .field {
    box-sizing: border-box;
    width: 224px;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 18px;
    padding-right: 10px;
  }
  
  .button {
    width: 48px;
    height: 48px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-color: #b59f5b;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: absolute;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #b35f4b;
  }
  
  .email {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: none;
    align-content: center;
    padding-left: 18px;
    padding-right: 10px;
  }
  
  .mailing-button {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    margin-top: 17px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .mailing-button:hover {
    background-color: #b35f4b;
  }
  
  .tags-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-top: 6px;
  }
  
  .tags-li {
    margin-bottom: 20px;
    margin-right: 6px;
  }
  
  .tags-a {
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans";
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid #eeeeee;
    padding: 7px 13px;
  }
  
  .tags-a:hover {
    content: "";
    border: 3px solid #b59f5b;
  }
  
  .tags-btn a {
    text-decoration: none;
    color: #000000;
  }
  
  .themes {
    list-style-type: none;
    margin-top: 17px;
  }
  
  .theme {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
  }
  
  .number {
    font-size: 12px;
    color: #b59f5b;
    vertical-align: super;
    padding-left: 4px;
  }
  
  .number::after {
    content: "";
    width: 272px;
    height: 1px;
    background-color: #eeeeee;
    background-position: bottom center;
    display: block;
    margin-top: 20px;
    margin-bottom: 17px;
  }
  
  .icons {
    width: 1170px;
    background-color: #f4f7f6;
    margin-top: 65px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 31px;
    padding-bottom: 31px;
    display: flex;
    justify-content: center;
  }
  
  .icon {
    height: 20px;
    margin-right: 32px;
  }
  
  .Copyright {
    display: block;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 40px;
    text-align: center;
  }

  @media (max-width: 360px) {

  }